* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  overflow: hidden;
  height: 120vh;
}

/* main container */
.app-container {
  transition: background-color 0.3s, color 0.3s;
}

.app-container.light {
  background-color: white;
  color: #000000;
}

.app-container.dark {
  background-color: #1a1a1a;
  color: #e6e6e6;
}


.theme-toggle {
  position: absolute;
  top: 22px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  color: inherit;
  cursor: pointer;
  transition: transform 0.2s;
}

.app-name {
  padding: 15px;
  font-size: 2rem;
  color: #333;
}

.app-name.light {
  left: 15px;
  color: #333;
}

.app-name.dark {
  color: #e6e6e6;
}

.theme-toggle:hover {
  transform: sclae(1.2);
}

/* video */
.video-section {
  height: 70vh;
  width: 70%;
  border-radius: 8px;
  position: relative;
  transition: all 0.3s ease; /* Add transition for smooth hide */
}

.video-section.theater-mode {
  width: 100%;
  height: 65vh;
  margin: 0 auto;
  border-radius: 8px;
}

.react-player {
  /* margin-top: 10px; */
  border-radius: 8px;
  width: 100%;
  height: 70vh;
}

.react-player.theater-mode {
  width: 80vw;
}

.video-and-button {
  position: relative;
}

.video-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.video-controls {
  position: absolute;
  left: 15px;
  bottom:  0px;
  display: flex;
  gap: 10px;
}

.video-buttons button {
  margin: 5px 0;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: #007bff;
  transition: background-color 0.3s, color 0.3s;
}

.video-buttons button:hover {
  background-color: #0056b3;
  color: white;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.video-buttons.theater-mode {
  position: relative;
  height: 65%;
}

/* pop-up */
.side-box {
  position: absolute;
  right: 1%;
  top: 8.5%;
  width: 32vw;
  max-height: 70vh;
  height: 100%;
  background: var(--box-bg-color, #f1f1f1);
  color: var(--box-text-color, #000000);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  padding: 20px;
  border-radius: 16px 0 16px 0;
  transition: transform 0.5s cubic-bezier(0.4, 0.2, 0.2, 1), background-color 0.3s ease, color 0.3s ease;
  transform-style: preserve-3d;
  perspective: 1000px;
  backface-visibility: hidden;
  flex-grow: 1;
}

.side-box.theater-mode {
  top: 8.5%;
  right: 1.5%;
  width: 17vw;
  max-height: 70vh;
  height: 100%;
  flex-grow: 1;
}

.side-box-content {
  margin-top: 20px;
  backface-visibility: hidden;
}

.side-box.dark {
  --box-bg-color: #f5f5f5;
  --box-text-color: #000000;
}

.side-box.light {
  --box-bg-color: #333;
  --box-text-color: #e6e6e6;
}

.side-box.flipping {
  transform: rotateY(180deg);
  transform-origin: center right;
}

.side-box.flipping .side-box-content {
  visibility: hidden;
}

.pause-play, .rewind, .theater-toggle{
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.pause-play:hover {
  background-color: #007bff;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.rewind:hover {
  background-color: #007bff;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.theater-toggle:hover {
  background-color: #007bff;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.pause-play.theater-mode {
  bottom: -12vh;
}

.rewind.theater-mode {
  bottom: -12vh;
}

.theater-toggle.theater-mode {
  bottom: -12vh;
}

/* chat-box */
.conversation-box {
  margin-top: 50px;
  border-radius: 32px;
  background-color: var(--bg-color, #121212);
  color: white;
  height: calc(30vh - 50px);
  width: 100%;
  margin-left: auto;
  overflow: hidden;
  z-index: 1;
  animation: slideIn 0.4s cubic-bezier(0.1, 0.7, 0.1, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1); 
  position: relative;
  border-color: none;
}

.conversation-box.expand-mode {
  height: calc(100vh - 30px);
  top: 200px; 
  width: 100%; 
  margin: 0; 
  border-radius: 32px;
  z-index: 3;
  max-height: 100vh;
  position: absolute;
}

.conversation-header {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  background-color: #2a2a3c;
  padding: 10px;
  position: relative;
}

.conversation-body {
  padding: 10px;
  height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.conversation-body.expand-mode{
  height: 440px;
  overflow: hidden;
}

.chat-message {
  padding: 10px;
  border-radius: 20px;
  max-width: 70%;
  word-wrap: break-word;
  animation: fadeIn 0.5s ease-in-out;
}

.user-message {
  align-self: flex-end;
  background: linear-gradient(135deg, #007bff, #005f99);
  color: white;
}

.agent-message {
  align-self: flex-start;
  background: linear-gradient(135deg, #555, #333);
  color: white;
}

.typing-dots {
  display: flex;
  gap: 5px;
}

.typing-dots span {
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  animation: blink 1.5s infinite;
}

.typing-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}

.conversation-input {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #2a2a3c;
  border-radius: 0 0 8px 8px;
  flex-grow: 1;
}

.styled-input {
  flex: 1;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 32px;
  outline: none;
  background: #121212;
  color: white;
}

.styled-input:focus {
  border-color: #007bff;
}

.audio,
.plane {
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  color: white;
  background: #555;
  border-radius: 50%;
}

.expand-button {
  position: absolute;
  top: 7px;
  right: 20px;
  border: none;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  color: white;
  background: #555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.expand-button.expand-mode{
  top:7px;
  right: 20px;
}

.audio.recording {
  background-color: red;
  border: 2px solid darkred;
  animation: recordingPulse 1s infinite;
}

.plane:hover,
.audio:hover,
.expand-button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.plane:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.plane:active,
.audio:active {
  transform: scale(0.95);
}

@keyframes recordingPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.buffering-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 2;
}

.buffering-icon {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.small-video{
  z-index: 4;
}


.toggle-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--box-text-color, #000000);
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  
  transition: background-color 0.3s ease, color 0.3s ease;
}

.toggle-button:hover {
  background-color: #ccc;
  color: #000;
}

.toggle-button.light{
  background-color: var(--box-bg-color, #0a0a0a);
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.2);
}

.toggle-button.dark{
  background-color: var(--box-bg-color, #ffffff);
  box-shadow: 0px 2px 5px rgba(10, 10, 10, 0.2);
}

